# Tugas 3

Buatlah dataframe yang terdiri dari 10 baris dan 6 kolom, dengan informasi sebagai berikut:

| | Brand | Cabang | Harga (ribu) | Stock | Status |
|--|---|---|---|---|---|
| 1 | Avoskin | Surabaya | 150 | 175 | Sold |
| 2 | G2G | Jakarta Pusat | 75 | 160 | Available |
| 3 | Skintific | Bandung | 120 | 120 | Available
| 4 | Wardah | Bandung | 85 | 300 | Sold |
| 5 | Emina | Jakarta | 75 | 230 | Available |
| 6 | Somethinc | Bandung | 120 | 200 | Available |
| 7 | Azarine | Surabaya | 50 | 180 |Available |
| 8 | Lacoco | Bandung | 90 | 100 | Sold |
| 9 | Y.O.U | Jakarta Pusat | 55 | 180 |Available |
| 10 | Madame Gie | Surabaya | 50 | 200 | Sold |


Lakukan analisis berikut pada DataFrame tersebut:

1. Tampilkan ringkasan statistik deskriptif yang mencakup nilai minimum, maksimum, jumlah, rata-rata, standar deviasi, serta nilai kuartil 1, 2, dan 3.
2. Tentukan 3 brand dengan penghasilan terbesar (harga x stock).
3. Kelompokkan brand dengan harga yang sama.
4. Buatlah kolom baru yang berisi kategori ‘Murah’, ‘Sedang’, dan ‘Mahal’. Kategori ini didasarkan pada aturan:
5. Harga di bawah kuartil 1 dikategorikan sebagai ‘Murah’
6. Harga di atas kuartil 3 dikategorikan sebagai ‘Mahal’
7. Sisanya dikategorikan sebagai ‘Sedang’.

In [3]:
import pandas as pd

In [4]:
# Bagian 1: Membuat DataFrame dengan informasi yang diberikan
data = {
    'Brand': ['Avoskin', 'G2G', 'Skintific', 'Wardah', 'Emina', 'Somethinc', 'Azarine', 'Lacoco', 'Y.O.U', 'Madame Gie'],
    'Cabang': ['Surabaya', 'Jakarta Pusat', 'Bandung', 'Bandung', 'Jakarta', 'Bandung', 'Surabaya', 'Bandung', 'Jakarta Pusat', 'Surabaya'],
    'Harga (ribu)': [150, 75, 120, 85, 75, 120, 50, 90, 55, 50],
    'Stock': [175, 160, 120, 300, 230, 200, 180, 100, 180, 200],
    'Status': ['Sold', 'Available', 'Available', 'Sold', 'Available', 'Available', 'Available', 'Sold', 'Available', 'Sold']
}

df = pd.DataFrame(data)

# Fungsi untuk mengubah warna baris secara bergantian dan menjadikan teks putih
def color_alternating_rows(row):
    # Menggunakan warna abu-abu untuk baris genap dan hitam untuk baris ganjil, serta teks putih
    color = 'background-color:rgb(71, 70, 70); color: white' if row.name % 2 == 0 else 'background-color: #333333; color: white'
    return [color] * len(row)

# Menerapkan styling untuk DataFrame
styled_df = df.style.apply(color_alternating_rows, axis=1)

# Menampilkan DataFrame dengan styling
styled_df

In [6]:
# Bagian 2: Menampilkan ringkasan statistik deskriptif untuk kolom numerik
def ringkasan_statistik(df):
    statistik = df.describe().astype(int)  
    print("\nRingkasan Statistik Deskriptif:")
    print(statistik)

# Menjalankan Bagian 2
ringkasan_statistik(df)

Ringkasan Statistik Deskriptif:
       Harga (ribu)  Stock
count            10     10
mean             87    184
std              33     55
min              50    100
25%              60    163
50%              80    180
75%             112    200
max             150    300

In [10]:
# Menentukan 3 brand dengan penghasilan terbesar (Harga x Stock)
def penghasilan_terbesar(df):
    # Membuat kolom baru untuk menghitung penghasilan (Harga * Stock)
    df['Penghasilan'] = df['Harga (ribu)'] * df['Stock']
    
    # Mengurutkan berdasarkan penghasilan terbesar
    df_sorted = df.sort_values(by='Penghasilan', ascending=False)
    
    print("\n3 Brand dengan Penghasilan Terbesar:")
    print()
    print(df_sorted[['Brand', 'Penghasilan']].head(3))

# Menjalankan Bagian 3
penghasilan_terbesar(df)

3 Brand dengan Penghasilan Terbesar:

       Brand  Penghasilan
0    Avoskin        26250
3     Wardah        25500
5  Somethinc        24000

In [8]:
# Mengelompokkan brand dengan harga yang sama
def kelompokkan_harga_sama(df):
    grup_harga = df.groupby('Harga (ribu)').agg({'Brand': ', '.join}).reset_index()
    
    print("\nBrand yang dikelompokkan berdasarkan Harga yang Sama:")
    print(grup_harga)

# Menjalankan Bagian 4
kelompokkan_harga_sama(df)

Brand yang dikelompokkan berdasarkan Harga yang Sama:
   Harga (ribu)                 Brand
0            50   Azarine, Madame Gie
1            55                 Y.O.U
2            75            G2G, Emina
3            85                Wardah
4            90                Lacoco
5           120  Skintific, Somethinc
6           150               Avoskin

In [9]:
# Menambahkan kolom baru dengan kategori 'Murah', 'Sedang', 'Mahal'
def kategori_harga(df):
    # Menghitung kuartil 1 dan kuartil 3
    Q1 = df['Harga (ribu)'].quantile(0.25)
    Q3 = df['Harga (ribu)'].quantile(0.75)
    
    # Menambahkan kategori berdasarkan harga
    def kategori(row):
        if row['Harga (ribu)'] < Q1:
            return 'Murah'
        elif row['Harga (ribu)'] > Q3:
            return 'Mahal'
        else:
            return 'Sedang'
    
    df['Kategori Harga'] = df.apply(kategori, axis=1)
    
    print("\nDataFrame dengan Kategori Harga:")
    print(df[['Brand', 'Harga (ribu)', 'Kategori Harga']])

# Menjalankan Bagian 5
kategori_harga(df)

DataFrame dengan Kategori Harga:
        Brand  Harga (ribu) Kategori Harga
0     Avoskin           150          Mahal
1         G2G            75         Sedang
2   Skintific           120          Mahal
3      Wardah            85         Sedang
4       Emina            75         Sedang
5   Somethinc           120          Mahal
6     Azarine            50          Murah
7      Lacoco            90         Sedang
8       Y.O.U            55          Murah
9  Madame Gie            50          Murah