# Kegiatan 1 - Exploratory Data Analysis

1. Menampilkan metadata dataset secara lengkap disertai penjelasan ringkas
2. Mengolah data (data cleaning dan data manipulation)
3. Menganalisis business problem/question (minimal 5 analisis)
4. Menampilkan analisis deskriptif statistik / data outlier

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import re

In [26]:
# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
plt.style.use('ggplot')

In [28]:
# 1. Load and display dataset metadata
print("=" * 50)
print("DATASET METADATA ANALYSIS")
print("=" * 50)

# Loading the data
df = pd.read_csv('music tours.csv')

==================================================
DATASET METADATA ANALYSIS
==================================================

In [29]:
# Display basic metadata
print("\nDATASET INFORMATION:")
print(f"Number of records: {df.shape[0]}")
print(f"Number of features: {df.shape[1]}")
print("\nColumn names:")
for col in df.columns:
    print(f"- {col}")

DATASET INFORMATION:
Number of records: 20
Number of features: 11

Column names:
- Rank
- Peak
- All Time Peak
- Actual gross
- Adjusted gross (in 2022 dollars)
- Artist
- Tour title
- Year(s)
- Shows
- Average gross
- Ref.

In [30]:
print("\nSample data (first 5 rows):")
print(df.head())

Sample data (first 5 rows):
   Rank  Peak All Time Peak  Actual gross Adjusted gross (in 2022 dollars)        Artist                   Tour title    Year(s)  Shows Average gross Ref.
0     1     1             2  $780,000,000                     $780,000,000  Taylor Swift              The Eras Tour †  2023–2024     56   $13,928,571  [1]
1     2     1          7[2]  $579,800,000                     $579,800,000       Beyoncé       Renaissance World Tour       2023     56   $10,353,571  [3]
2     3  1[4]          2[5]  $411,000,000                     $560,622,615       Madonna  Sticky & Sweet Tour ‡[4][a]  2008–2009     85    $4,835,294  [6]
3     4  2[7]         10[7]  $397,300,000                     $454,751,555          Pink  Beautiful Trauma World Tour  2018–2019    156    $2,546,795  [7]
4     5  2[4]           NaN  $345,675,146                     $402,844,849  Taylor Swift      Reputation Stadium Tour       2018     53    $6,522,173  [8]

In [31]:
print(df.columns.tolist())

['Rank', 'Peak', 'All Time Peak', 'Actual\xa0gross', 'Adjusted\xa0gross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)', 'Shows', 'Average gross', 'Ref.']

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              20 non-null     int64
 1   Peak                              9 non-null      object
 2   All Time Peak                     6 non-null      object
 3   Actual gross                      20 non-null     object
 4   Adjusted gross (in 2022 dollars)  20 non-null     object
 5   Artist                            20 non-null     object
 6   Tour title                        20 non-null     object
 7   Year(s)                           20 non-null     object
 8   Shows                             20 non-null     int64
 9   Average gross                     20 non-null     object
 10  Ref.                              20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [32]:
print("\nData types:")
print(df.dtypes)

Data types:
Rank                                 int64
Peak                                object
All Time Peak                       object
Actual gross                        object
Adjusted gross (in 2022 dollars)    object
Artist                              object
Tour title                          object
Year(s)                             object
Shows                                int64
Average gross                       object
Ref.                                object
dtype: object

In [34]:
print("\nBasic statistics:")
print(df.describe())

Basic statistics:
            Rank       Shows
count  20.000000   20.000000
mean   10.450000  110.000000
std     5.942488   66.507617
min     1.000000   41.000000
25%     5.750000   59.000000
50%    10.500000   87.000000
75%    15.250000  134.500000
max    20.000000  325.000000

In [35]:
print("\nNull values per column:")
print(df.isnull().sum())

Null values per column:
Rank                                 0
Peak                                11
All Time Peak                       14
Actual gross                         0
Adjusted gross (in 2022 dollars)     0
Artist                               0
Tour title                           0
Year(s)                              0
Shows                                0
Average gross                        0
Ref.                                 0
dtype: int64