# CODELAB 1

1. Memuat dataset dengan menggunakan library pandas menjadi dataframe.
2. Tampilkan 7 baris data awal dan tampilkan informasi dasar dataset.
3. Hitung jumlah iuran dan tentukan rata-rata iuran dari semua anggota.

In [11]:
import pandas as pd

In [12]:
# 1. Load the dataset into a dataframe
df = pd.read_csv('International Logistic Association Memberships.csv')

In [17]:
# 2. Display the first 7 rows and basic information
print("First 7 rows of the dataset:")
print(df.head(7))

First 7 rows of the dataset:
   Member ID          Last name  First name              Address 1  \
0     100011               Tsao       Danny           27 Wu Tzu St
1     100012                Lei     Colleen     88 6th Avenue Teda
2     100013               Roth       Nancy       Hoefenstrasse 31
3     100014  Meneses Contreras  Karl-Oscar  Poniente 134 Ste. 740
4     100015              Nunez      Helmut      Andador Pinos 345
5     100016        Fitzpatrick      Dmitry       22 Hemingford Pl
6     100017             Andreu        Leya   Nevada de Colima 104

              Address 2 Address 3    Address 4 Address 5 Dues amount  \
0           Tamshui 251       NaN       Taiwan       NaN        $200
1        300457 TIANJIN       NaN        China       NaN        $500
2            Muehlethal       NaN  Switzerland      4812        $100
3          02300 MÃ©xico       DIF       Mexico       NaN        $500
4         45235 Zapopan       JAL       Mexico       NaN        $200
5                Whitby        ON       Canada   L1R 1G1        $100
6  20280 Aguascalientes       NaN       Mexico       NaN        $200

  Membership valid through          Member type
0                3/25/2021  Professional Member
1               10/12/2023     Corporate Member
2                1/11/2023    Student Associate
3                2/26/2021     Corporate Member
4                7/29/2023  Professional Member
5               12/15/2007    Student Associate
6                3/31/2021  Professional Member

In [18]:
print("\nBasic information about the dataset:")
print(df.info())

Basic information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Member ID                 71 non-null     int64
 1   Last name                 71 non-null     object
 2   First name                71 non-null     object
 3   Address 1                 71 non-null     object
 4   Address 2                 71 non-null     object
 5   Address 3                 30 non-null     object
 6   Address 4                 71 non-null     object
 7   Address 5                 39 non-null     object
 8   Dues amount               71 non-null     object
 9   Membership valid through  71 non-null     object
 10  Member type               71 non-null     object
dtypes: int64(1), object(10)
memory usage: 6.2+ KB
None

In [19]:
print("\nDescriptive Analytics: ")
print(df.describe())

Descriptive Analytics:
           Member ID
count      71.000000
mean   100045.929577
std        21.106752
min    100011.000000
25%    100027.500000
50%    100045.000000
75%    100064.500000
max    100082.000000

In [20]:
# 3. Convert the 'Dues amount' column to numeric
# Remove the dollar sign and convert to float
df['Dues amount'] = df['Dues amount'].str.replace('$', '').str.replace(',', '').astype(float)

In [22]:
# Calculate the total dues and average dues
total_dues = df['Dues amount'].sum()
average_dues = df['Dues amount'].mean()

print(f"\nTotal dues amount: ${total_dues:.2f}")
print(f"Average dues per member: ${average_dues:.2f}")

Total dues amount: $18400.00
Average dues per member: $259.15