# CODELAB 3

a. Buatlah sebuah series yang berisi dictionary yang memuat nama produk dan ID produk.

b. Buatlah sebuah dataframe yang berisi dictionary yang memuat 4 kolom dan setiap kolom berisi 5 data. Tidak boleh ada kesamaan antar praktikan.

c. Tambahkan 1 kolom baru.

d. Urutkan dataframe, misalnya berdasarkan abjad jika kolom berupa Nama.

In [1]:
import pandas as pd

# a. Membuat Series yang berisi dictionary yang memuat ID produk dan nama produk
products = {
    'ID1': {'id_produk': 'K1', 'nama_produk': 'Baju Kemeja'},
    'ID2': {'id_produk': 'K2', 'nama_produk': 'Baju Kaos'},
    'ID3': {'id_produk': 'K3', 'nama_produk': 'Baju Hoodie'},
    'ID4': {'id_produk': 'K4', 'nama_produk': 'Baju Polos'},
    'ID5': {'id_produk': 'K5', 'nama_produk': 'Baju Batik'}
}

product_series = pd.Series(products)

print("Series Produk:")
print(product_series)

Series Produk:
ID1    {'id_produk': 'K1', 'nama_produk': 'Baju Kemeja'}
ID2      {'id_produk': 'K2', 'nama_produk': 'Baju Kaos'}
ID3    {'id_produk': 'K3', 'nama_produk': 'Baju Hoodie'}
ID4     {'id_produk': 'K4', 'nama_produk': 'Baju Polos'}
ID5     {'id_produk': 'K5', 'nama_produk': 'Baju Batik'}
dtype: object

In [2]:
# b. Membuat DataFrame yang berisi dictionary dengan 4 kolom dan 5 data
sales_data = {
    'ID Produk': ['K1', 'K2', 'K3', 'K4', 'K5'],
    'Nama': ['Baju Kemeja', 'Baju Kaos', 'Baju Hoodie', 'Baju Polos', 'Baju Batik'],
    'Harga': [150000, 100000, 200000, 120000, 180000],
    'Jumlah Terjual': [50, 120, 80, 60, 90]
}

sales_df = pd.DataFrame(sales_data)

print("\nDataFrame Penjualan:")
print(sales_df)

DataFrame Penjualan:
  ID Produk         Nama   Harga  Jumlah Terjual
0        K1  Baju Kemeja  150000              50
1        K2    Baju Kaos  100000             120
2        K3  Baju Hoodie  200000              80
3        K4   Baju Polos  120000              60
4        K5   Baju Batik  180000              90

In [3]:
# c. Menambahkan kolom baru Total Penjualan
sales_df['Total Penjualan'] = sales_df['Harga'] * sales_df['Jumlah Terjual']

print("\nDataFrame Setelah Menambahkan Kolom Total Penjualan:")
print(sales_df)

DataFrame Setelah Menambahkan Kolom Total Penjualan:
  ID Produk         Nama   Harga  Jumlah Terjual  Total Penjualan
0        K1  Baju Kemeja  150000              50          7500000
1        K2    Baju Kaos  100000             120         12000000
2        K3  Baju Hoodie  200000              80         16000000
3        K4   Baju Polos  120000              60          7200000
4        K5   Baju Batik  180000              90         16200000

In [4]:
# d. Mengurutkan DataFrame berdasarkan Nama produk (Abjad)
sorted_sales_df = sales_df.sort_values(by='Nama', ascending=True)

print("\nDataFrame Setelah Diurutkan Berdasarkan Nama Produk:")
print(sorted_sales_df)

DataFrame Setelah Diurutkan Berdasarkan Nama Produk:
  ID Produk         Nama   Harga  Jumlah Terjual  Total Penjualan
4        K5   Baju Batik  180000              90         16200000
2        K3  Baju Hoodie  200000              80         16000000
1        K2    Baju Kaos  100000             120         12000000
0        K1  Baju Kemeja  150000              50          7500000
3        K4   Baju Polos  120000              60          7200000